<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCE METRICS</title>
    <link rel="stylessheet" href="/styles.css">
</head>
<body> 
  <!--top banner -->
    <div class="banner">
      <h1 class="bant">FINANCE METRICS</h1>
    </div>
    <br>
    <p> 
      This site is not meant to be a investing advice.it is just a mini project investing your choice of advise not ours
       
      <h6 href="terms.html">terms and policys</h6>

    </p>
    <div>
      <!--slideshow view-->>
      <!--gold and silver api-->>
    </div>
    <div><!--search stock--></div>
    <div>
      <!--scroll window-->>
      <!--news api --></div>
    <div>
      <!--modest display view-->>
      <!--display prediction -->
    </div>
</body>
</html>