<!DOCTYPE html>
<html>
<head>
	<title>Stock Predictions</title>
</head>
<body>
	<h1>Stock Predictions for May 2023</h1>
	<table>
		<tr>
			<th>Stock</th>
			<th>Prediction</th>
		</tr>
		<tr>
			<td>Meta</td>
			<td>{{METAstock}}</td>
		</tr>
		<tr>
			<td>Apple</td>
			<td>{{AAPLstock}}</td>
		</tr>
		<tr>
			<td>Amazon</td>
			<td>{{AMZNstock}}</td>
		</tr>
		<tr>
			<td>Netflix</td>
			<td>{{NFLXstock}}</td>
		</tr>
		<tr>
			<td>Google</td>
			<td>{{GOOGstock}}</td>
		</tr>
		<tr>
			<td>Tesla</td>
			<td>{{TSLAstock}}</td>
		</tr>
		<tr>
			<td>Microsoft</td>
			<td>{{MSFTstock}}</td>
		</tr>
	</table>
</body>
</html>
